
.detail-booksection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
    margin-top: 4%;
    padding: 100px;
    position: relative; /* Tambahkan posisi relatif pada wadah */
    margin-bottom: 10%;
}

.detail-booksection img {
    position: absolute; /* Tambahkan posisi absolut pada gambar */
}

.detail-booksection img:nth-child(1) {
    top: -30%; /* Atur top sesuai kebutuhan */
    left: 0%;
    flex-shrink: 0;
    z-index: -10;
}

.detail-booksection img:nth-child(2) {
    width: 380px;
    height: 563px;
    flex-shrink: 0;
    top: 5%;
    left: 2%;
    z-index: -10;
}

