

.donasi-box {
    width: 1086px;
    height: 1222px;
    flex-shrink: 0;
    border-radius: 60px;
    background: rgba(214, 214, 214, 0.90);
}

.donasi-headline {
    width: 620px;
    height: 110px;
    margin :105px 228px 54px 238px ;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: EB Garamond;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.donasi-box input {
    width: 866px;
    height: 78px;
    flex-shrink: 0;
    margin-bottom: 111px;
    padding : 9px 549px 0px 30px;
    border-radius: 60px;
    background: rgba(238, 238, 238, 0.70);
}

::placeholder {
    color: #000;
}

.input-text {
    width: 287px;
    height: 69px;
    flex-shrink: 0;
    color: #000;
    font-family: EB Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.request-next-button {
    width: 240px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #082138;
    color: #EEE;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
