

/* Style the transparent box */
.transparent-box {
    position: relative;
    width: 600px;
    height: 240px;
}

.transparent-box::before {
    position: absolute;
    content: "";
    display: block;
    width: 600px;
    height: 240px;
    border-radius: 48px;
    background: #B9B9B9;
    mix-blend-mode: color-burn;
    backdrop-filter: blur(2px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    
}

.forty-percent-text-white{
    float: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'EB Garamond', serif;
    color: #fff;
    font-size:50px;
}

/* Style the Search bar */
.search-field {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 10px 30px 10px 10px; /* Added padding for the icon */
    margin: 10px auto;
    border: 2px solid #fff;
    border-radius: 15px;
    color: #000;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    background-image: url(../img/search.png); /* Set the URL to your search icon image */
    background-repeat: no-repeat;
    background-position: 95% center; /* Adjust the position for the icon */
}

/* Style the "General" section */
#general {
    position: absolute;
    transform: translateY(-20%) translateX(-50%);
    width: 1600px;
    height: 630px;
    left: 50%;
    /* z-index: 1; */
    border-radius: 60px;
    background: #082138;
    display: flex;
    align-items: center;
}

#general img {
    margin-left: 20px;
    width: 800px;
    height: 576.604px;
    border-radius: 60px;
    display: block;
    object-fit: cover;
}

#general .text-container {
    position: absolute;
    top: 12.5%;
    width: 680px;
    margin-left: 53.5%;
}

#general h1 {
    color: #FFF;
    font-family: EB Garamond;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#general p {
    color: #FFF;
    font-family: EB Garamond;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Style the "Rekomendasi Buku" section */
#rekomendasi-buku {
    
    background-color: #f5f5f5;
    padding: 20px;
}

/* Style Pinjam Sekarang! */
.choices {
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 560px;
    margin-top: 30%;
    padding: 100px;
}

.choices a {
    position: relative;
    color: black;
    font-family: EB Garamond;
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 3%;
}

  /* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.choices .card{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    width: 330px;
    height: 505px;
    background-color: #082138;
    overflow: hidden;
    margin-left: 5%;
    border-radius: 50px;
    align-items: center;
    transition: transform 0.3s ease;
}

.choices .card:hover {
    transform: scale(1.05); /* Increase the scale on hover (you can adjust the value) */
    background-color: #000000;
}

.choices .card a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%; /* Ensure the anchor takes up the entire card */
    margin-left: 62%; /* Position*/
}

.choices img{
    margin-top: 15%;
    max-width: 35%; /* The logo will adjust to the card's width */
    height: auto;
    transition: transform 0.3s ease;
}

.choices img:hover {
    transform: scale(1.1); /* Increase the scale on hover (you can adjust the value) */
}

.choices h2 {
    color: #FFF;
    font-family: EB Garamond;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 80%;
    margin-top: 10%;
}


/* Rekomendasi Buku*/
.rekomendasi-buku{
    position: flex;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.rekomendasi-buku h2{
    margin-top: 8%;
    color: black;
    font-family: EB Garamond;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Cover Rekomendasi Buku */
.container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    width: 1920px; 
    height: 100%;
    margin-top: 2%;
}

.slider-wrapper{
    position: absolute;
    max-width: 1920px;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 45%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #082138;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #000;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list{
    display: grid;
    gap: 5%;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 380px;
    height: 563px;
    object-fit: cover;
}

.container .slider-scrollbar {
    margin-top: 50%;
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;


}

.lihat h2 {
    color: black;
    font-family: EB Garamond;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1%;
    margin-right: 5%;
}

/* Add this CSS code in your stylesheet to customize the card width on small screens */
@media (max-width: 992px) {
    .choices .card{
        width: 100%;
        height: 120px;
        margin-left: 0%;
        border-radius: 0px;
        align-items: center;
    }
    
    .choices .card:hover {
        transform: scale(1.05); /* Increase the scale on hover (you can adjust the value) */
        background-color: #000000;
    }
    
    .choices .card a {
        background-color: #000;
        display: block;
        text-decoration: none;
        color: inherit;
        width: 100%; /* Ensure the anchor takes up the entire card */
    }
    
    .choices img{
        display: none;
    }

    .choices h2 {
        margin: initial;
        color: #FFF;
        font-family: EB Garamond;
        font-size: 2em;
    }

    .choices a {
        position: relative;
        color: black;
        font-family: EB Garamond;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 15px; 
    }
}


/* Add more styles and customize as needed */