

/* Style the COVER */
.cover .container {
    position: relative;
    display: block;
    justify-content: center; /* Horizontally center the content */
    top: 10%;
    width: 850px;
    height: 80px;
}

.text-left {
    padding-left: 2%;
}

.cover .category-1 {
    position: relative;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 18%;
    margin-left: 65%;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 40px;
    color: #000;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}

.cover .category-2 {
    position: relative;
    bottom: 49%;
    transform: translate(-50%, -50%);
    width: 23%;
    margin-left: 88%;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 40px;
    color: #000;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}

/* Style the Search bar */
.search-field {
    position: relative;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 54%;
    margin-left: 5%;
    border: 2px solid #fff;
    border-radius: 15px;
    color: #000;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    background-image: url(../img/search.png); /* Set the URL to your search icon image */
    background-repeat: no-repeat;
    background-position: 95% center; /* Adjust the position for the icon */
}

.the-body {
    position: relative;
    display: flex;
    margin: 75px auto;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1300px;
    background-color: #08213852;
    border-color: #fff;
    border-radius: 10%;
}

.the-body .image-list{
    display: grid;
    width: 98%;
    column-gap: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-columns: repeat(9,2fr);
    height: 100%;
    max-width: 100%;
    transform: translateX(2.15%);
}

.the-body .image-list::-webkit-scrollbar {
    display: none;
}

.the-body .image-list .image-item {
    transform: translateY(7%);
    align-items: center;
    width: 380px;
    height: 563px;
    object-fit: cover;
    grid-row: span 1; /* Place image items in the first row */
    grid-column: span 2; /* Make each image item span 2 columns */
    transition: transform 0.3s ease
}

.the-body .image-list .image-item:hover {
    content: ""; /* Add a pseudo-element for the background */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f9b234;
    z-index: -1;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.5s ease; /* Use the same transition for consistency */
}

.the-body .slide-button {
    position: absolute;
    height: 80px;
    width: 80px;
    color: #fff;
    border: none;
    outline: none;
    background: #082138;
    font-size: 4rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.the-body .slide-button:hover {
    background: #000;
}

.the-body .slide-button#prev-slide {
    left: -20px;
}

.the-body .slide-button#next-slide {
    right: -20px;
}

.page-number{
    position: relative;
    display: flex;
    column-gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateY(-70%);
}

.page-number .the-number {
    color: black;
    font-family: EB Garamond;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(80%);
}

.page-number .the-number:hover {
    color: black;
    font-family: EB Garamond;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(80%);
    border-bottom: 6px solid #999999;
}