
/* Style the register white box */
.register-white-box{
    position: absolute;
    width: 1086px;
    height: 700px;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    flex-shrink: 0;
}

.register-white-box::before{
    position: absolute;
    content: "";
    display: block;
    width: 1086px;
    height: 1900px;
    border-radius: 60px;
    background: rgba(214, 214, 214, 0.90);
}

/* Style the register text */
.register-text{
    float: none;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-family: EB Garamond;
    font-size: 60px;
    position: absolute;
}

/* Style the registration form */
.register-input-box{
    position: relative;
    top: 40%;
    width: 866px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 60px;
    font-size: 50px;
    padding: 30px; 
}


.register-input-box + .register-input-box {
    margin-top: 100px; /* Add margin to the top of the input input box */
}

.register-input-box::before{
    position: absolute;
    content: "";
    display: block;
    width: 866px;
    height: 78px;
    border-radius: 60px;
    background: rgba(238, 238, 238, 0.70);
}

/* Style the register button */
.register-button{
    position: relative;
    display: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #082138;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: white;
}
